PUBLIC_POCKETBASE_URL=http://127.0.0.1:8090

XAI_API_KEY=sdkjajkdhakjsd
OPENAI_API_KEY=askldjakldj
STRIPE_PUBLIC_API_KEY=asdadsad
STRIPE_SECRET_API_KEY=sdasdadasd
STRIPE_WEBHOOK_SECRET=whsec_examplewebhooksecret
WEBOOK_ADMIN_EMAIL=asdasd
WEBOOK_ADMIN_PASSWORD=asdasdads
